<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: &#8220;You were born to win, but to be a winner you must plan to win, prepare to win, &#8230;	</title>
	<atom:link href="https://www.spaceappscairo.com/you-were-born-to-win-but-to-be-a-winner-you-must-plan-to-win-prepare-to-win/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.spaceappscairo.com/you-were-born-to-win-but-to-be-a-winner-you-must-plan-to-win-prepare-to-win/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=you-were-born-to-win-but-to-be-a-winner-you-must-plan-to-win-prepare-to-win</link>
	<description>Your step makes a difference</description>
	<lastBuildDate>Sat, 17 Aug 2019 02:33:33 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5</generator>
</channel>
</rss>
