<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: “Find a group of people who challenge and inspire you&#x200d;, spend a lot of ti&#8230;	</title>
	<atom:link href="https://www.spaceappscairo.com/find-a-group-of-people-who-challenge-and-inspire-you-spend-a-lot-of-ti/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.spaceappscairo.com/find-a-group-of-people-who-challenge-and-inspire-you-spend-a-lot-of-ti/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=find-a-group-of-people-who-challenge-and-inspire-you-spend-a-lot-of-ti</link>
	<description>Your step makes a difference</description>
	<lastBuildDate>Wed, 07 Aug 2019 11:48:19 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5</generator>
</channel>
</rss>
